$main-black-color: #000000;
$main-white-color: #ffffff;
$accent-color: #008bb7;
$accent-color-disabled: rgba(0, 139, 183, 0.5);

// background color

$substrate-layer-bg: rgba(0, 0, 0, 0.5);
$dark-main-bg: #1e1e1e;
$postst-category-bg: #f9f8f8;
$light-main-bg: #ffffff;
$action-button-hover-bg: #f4f4f4;
$header-side-box-bg: #f4f4f4;
$footer-decoration-row-bg: #999999;
$card-avatar-bg: #008bb7;
$bloquote-bg: #f6f6f6;
$slider-dots-bg: rgba(0, 0, 0, 0.2);
$slider-dots-list-bg: rgba(0, 0, 0, 0.05);

// border color

$decoration-border-bg: #a9a9a9;
$more-poste-border-bg: #c4c4c4;
$header-border-bg: #e9e8e8;

//  text colors

$primary-text-color: #000000;
$secondary-text-color: #7b7b7b;
$breadcurmbs-last-item-text-color: #a9a9a9;

// sizes

$base-element-border-radius: 6px;
$button-border-radius: 6px;
$images-border-radius: 20px;

$small-avatar-card-length: 20px;
$big-avatar-card-length: 32px;
